__pycache__/
*.py[cod]
.venv/
build/
dist/
*.egg-info/
logs/
config/core.config_entries
config/jablotron.toml
config/Periferie.csv
config/Periferie.ods
config/Sekce.csv
config/PGvystupy.csv
config/Uzivatele.csv
